<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# Peer Review Assignment - Data Engineer - ETL

Estimated time needed: **20** minutes

## Objectives

In this final part you will:

- Run the ETL process
- Extract bank and market cap data from the JSON file `bank_market_cap.json`
- Transform the market cap currency using the exchange rate data
- Load the transformed data into a seperate CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [23]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [22]:
import glob
import pandas as pd
from datetime import datetime

As the exchange rate fluctuates, we will download the same dataset to make marking simpler. This will be in the same format as the dataset you used in the last section

In [1]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2023-08-21 09:48:36--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json.1’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2023-08-21 09:48:36 (24.6 MB/s) - ‘bank_market_cap_1.json.1’ saved [2815/2815]

--2023-08-21 09:48:37--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json.1’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2023-08-21 09:48:37 (8.71 MB/s) - ‘bank_market_cap_2.json.1’ saved [1429/1429]

--2023-08-21 09:48:38--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv.1’

exchange_rates.csv. 100%[===================>]     590  --.-KB/s    in 0s

2023-08-21 09:48:38 (2.78 MB/s) - ‘exchange_rates.csv.1’ saved [590/590]

## Extract

### JSON Extract Function

This function will extract JSON files.

In [29]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

## Extract Function

Define the extract function that finds JSON file `bank_market_cap_1.json` and calls the function created above to extract data from them. Store the data in a `pandas` dataframe. Use the following list for the columns.

In [27]:
columns=['Name','Market Cap (US$ Billion)']

In [30]:
def extract():
    dt=pd.DataFrame(columns=columns)
    dt=extract_from_json('bank_market_cap_1.json')
    # Write your code here
    return dt
dtjson=extract()
dtjson

                                       Name  Market Cap (US$ Billion)
0                            JPMorgan Chase                   390.934
1   Industrial and Commercial Bank of China                   345.214
2                           Bank of America                   325.331
3                               Wells Fargo                   308.013
4                   China Construction Bank                   257.399
..                                      ...                       ...
65                             Ping An Bank                    37.993
66                       Standard Chartered                    37.319
67                     United Overseas Bank                    35.128
68                                QNB Group                    33.560
69                              Bank Rakyat                    33.081

[70 rows x 2 columns]

<b>Question 1</b> Load the file <code>exchange_rates.csv</code> as a dataframe and find the exchange rate for British pounds with the symbol <code>GBP</code>, store it in the variable  <code>exchange_rate</code>, you will be asked for the number. Hint: set the parameter  <code>index_col</code> to 0.

In [26]:


def get_exchange_rate(currency):
  exchange_rates = pd.read_csv('exchange_rates.csv')
  exchange_rate = exchange_rates[exchange_rates['Unnamed: 0'] == currency]
  return exchange_rate

exchange_rate = get_exchange_rate('GBP')
print(exchange_rate)

  Unnamed: 0     Rates
9        GBP  0.732398

## Transform

Using <code>exchange_rate</code> and the `exchange_rates.csv` file find the exchange rate of USD to GBP. Write a transform function that

1. Changes the `Market Cap (US$ Billion)` column from USD to GBP
2. Rounds the Market Cap (US$ Billion)` column to 3 decimal places
3. Rename `Market Cap (US$ Billion)` to `Market Cap (GBP$ Billion)`

In [62]:
import pandas as pd

def transform(df, exchange_rate):
  df['Market Cap (GBP$ Billion)'] = round(df['Market Cap (US$ Billion)'] * exchange_rate['Rates'].iloc[0], 3)
  df = df.rename(columns={'Market Cap (US$ Billion)': 'Market Cap (GBP$ Billion)'})
  return df

df = dtjson.copy()
df = transform(df, exchange_rate)
print(df)

                                       Name  Market Cap (GBP$ Billion)  \
0                            JPMorgan Chase                    390.934
1   Industrial and Commercial Bank of China                    345.214
2                           Bank of America                    325.331
3                               Wells Fargo                    308.013
4                   China Construction Bank                    257.399
..                                      ...                        ...
65                             Ping An Bank                     37.993
66                       Standard Chartered                     37.319
67                     United Overseas Bank                     35.128
68                                QNB Group                     33.560
69                              Bank Rakyat                     33.081

    Market Cap (GBP$ Billion)
0                     286.319
1                     252.834
2                     238.272
3                     225.588
4                     188.519
..                        ...
65                     27.826
66                     27.332
67                     25.728
68                     24.579
69                     24.228

[70 rows x 3 columns]

## Load

Create a function that takes a dataframe and load it to a csv named `bank_market_cap_gbp.csv`. Make sure to set `index` to `False`.

In [20]:
def load(df):
    df.to_csv('bank_market_cap_gbp.csv')
load(df)

## Logging Function

Write the logging function <code>log</code> to log your data:

In [22]:
def load(df):
  df.to_csv('bank_market_cap_gbp.csv')

df = pd.DataFrame({'Bank': ['Barclays', 'HSBC', 'Lloyds', 'NatWest'], 'Market Cap (GBP)': [100, 200, 300, 400]})

load(df)

## Running the ETL Process

Log the process accordingly using the following <code>"ETL Job Started"</code> and <code>"Extract phase Started"</code>

In [23]:
def log(message):
    print("ETL Job Started")
    print("Extract phase Started")

### Extract


Question 2 Use the function extract, and print the first 5 rows, take a screen shot:

In [34]:

df = extract()
df.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

Log the data as <code>"Extract phase Ended"</code>

In [71]:
def extract(file_path):
    #Read the data from the Json File
    data = pd.read_json(file_path)
    
    #Filter the data to only include the columns specified in the columns list
    dataframe = data[['Name', 'Market Cap (US$ Billion)']]
    
    return dataframe 

def load(dataframe, filename): 
    # Set the idex to false 
    dataframe.to_csv(filename, index=False)
    
    #Call the function
    log("Extract phase Started")
    dataframe = extract ("data.json")
    log("Extract phase Ended")
    load(dataframe, "bank_market_cap_gbp.csv")

### Transform

Log the following  <code>"Transform phase Started"</code>

In [16]:
def log(message):
# Print the message to the console
    print(f"[{datetime.now()}] {message}")
# Call the function here
    log("Transform phase Started")

<code>Question 3</code> Use the function <code>transform</code> and print the first 5 rows of the output, take a screen shot:

In [38]:
df = extract()
df = transform(df)
print(df.head())

NameError: name 'transform' is not defined

Log your data <code>"Transform phase Ended"</code>

In [8]:
import datetime

def log_transform_phase_end():
  """
  Logs the end of the transform phase.

  Args:
    None.
  """

### Load

Log the following `"Load phase Started"`.

In [9]:
import datetime

def log_load_phase_started():
  """
  Logs the start of the load phase.

  Args:
    None.
  """

  now = datetime.datetime.now()
  timestamp = now.strftime("%Y-%m-%d %H:%M:%S")
  print(f"[{timestamp}] Load phase started")


log_load_phase_started()

[2023-08-19 15:24:32] Load phase started

Call the load function

In [15]:
def load(): 
    print("Load phase Started") 
    load()

Log the following `"Load phase Ended"`.

In [20]:
def log_load_phase_ended():
  """
  Logs the end of the load phase.

  Args:
    None.
  """

  now = datetime.datetime.now()
  timestamp = now.strftime("%Y-%m-%d %H:%M:%S")

  # Generate a unique message by appending the current timestamp to the message
  message = f"Load phase ended ({timestamp})"

  print(f"[{timestamp}] {message}")


log_load_phase_ended()

[2023-08-19 15:42:58] Load phase ended (2023-08-19 15:42:58)

## Authors

Ramesh Sannareddy, Joseph Santrcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork899-2023-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).